@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0   ;
    }
p {
    padding: 10px;
    border: 2px var(--color-primario);
    margin: 5px;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /*height: 100vh;*/
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex ;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.resaltar-Titulo{
    color: var(--color-terciario);
}
.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 5%;
    justify-content: space-between;
    gap: 82px;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 2.25ren;
    font-family: "Krona One", sans-serif;
}
.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciario);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.presentacion__enlaces__subtitulo{
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    font-weight: 400px;
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 24px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: #272727;
}
.presentacion__imagen{
    width: 50%;
}

.container {
    margin: 20%;    /* agrega un margen para centrar los cuadrados en la pantalla */
    display: flex;    /* coloca los cuadrados uno al lado del otro */
    gap: 10px;    /* agrega espacios iguales entre cada cuadrado */
}

.footer{
    background-color: #22D4FD;
    padding: 24px;
    color:#000000;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem; /* 1rem = 16px */
    font-weight: 400;
}

@media (max-width: 1300px){
    .header{
        padding: 0%;
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion {
        flex-direction: column-reverse;
    }
    .presentacion__contenido{
        width: auto;
    }
}